body {
  padding: 0;
  /* background-image: url(../image/background.png); */
  background-image: url(../image/background2.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  margin: 0;
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 1600px 0;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: -50px 0;
  }
}

#game-intro {
  padding: 20px 0px;
}

#game-end {
  display: none;
}

#game-container {
  display: none;
}

.titleimage {
  width: 95%;
  max-width: 1500px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 3%;
}

.instructions {
  width: 95%;
  max-width: 1500px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: 2%;
}

.startbutton {
  cursor: pointer;
  margin-left: 14px;
  width: 387.5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: none;
  padding: 0;
}

.ssbutton {
  margin-right: 15px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  background: none;
  border: none;
  padding: 0;
}

.ssbutton button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

button:active {
  transform: scale(0.95);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.gameover {
  margin-top: 20px;
  width: 400px;
}

.restartbutton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: transparent;
  height: 80px;
}

.restbutton {
  margin-top: 50px;
}

.restbutton button {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

.finishquote {
  width: 95%;
  max-width: 1500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.finishquote2 {
  width: 95%;
  max-width: 1500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sleepyguy {
  width: 400px;
  display: inline-block;
}

.energy {
  width: 80%;
  padding: 4% 8% 2%;
  display: inline-block;
}

.energyboosters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.energyboosters img {
  width: 20%;
  height: auto;
  object-fit: contain;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.details > div {
  text-align: center;
  width: 100%;
}

.details > div img {
  max-width: 100%;
  height: auto;
}

#lives img {
  height: 40px;
  margin-top: 5%;
}
