body {
  padding: 0;
  background-image: url(../image/background.png);
  background-size: cover;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
}

.titleimage {
  width: 1200px;
  margin-top: 150px;
  margin-bottom: 30px;
}

.startbutton {
  cursor: pointer;
  width: 388.5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: none;
}

.ssbutton {
  margin-right: 15px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:active {
  transform: scale(0.95);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.sleepyguy {
  width: 400px;
}
